@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f9cf5;
  color: #ffffff;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 10px;
}

h1 {
  color: black;
  font-size: 50px;
  text-decoration: underline;
}

h2 {
  color: #000000;
  margin-bottom: -15px;
}

label {
  font-size: 25px;
}
input {
  font-size: 20px;
  padding: 5px;
  text-align: center;
  border: none;
  border-radius: 7px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-inline: auto;
  flex-wrap: wrap;
}

.bmi-guide {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 17px;
  color: #ffffff;
  font-weight: bolder;
  font-size: 19px;
  transition: all 0.1s ease-in;
  background-color: #ff0000e4;
}

button:hover {
  background-color: #000000;
  padding: 15px 25px;
  transition: all 0.1s ease-in;
  cursor: pointer;
}
@media screen and (max-width: 580px) {
  .container {
    margin: 0px 100px;
  }
}
