@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: orange;
  font-family: serif;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
h1 {
  font-size: 200px;
  color: blue;
}

#clock {
  font-size: 200px;
  background-color: #ff0000;
  padding: 15px;
  font-weight: bolder;
  border-radius: 10px;
}
